#cabeza {
  background: gray;
}

nav {
  background: gray;
}

ul {
  background: rgb(247, 247, 247);
  text-align: center;
  width: 100%;
}

section {
  height: 1000px;
  background: gray;
  margin: 15px;
  padding: 15px;
}
